<form class="reg-page" name="findpassword" ng-submit="vm.submit()">
  <div class="reg-header">
    <h2>패스워드 찾기</h2>
  </div>
  <div class="input-group margin-bottom-20">
    <p ng-hide="vm.sent">가입하실때 입력하신 이메일주소를 입력해주세요</p>
    <div ng-show="vm.sent">
      <h2>이메일을 확인해 주십시오</h2>
      <p>전송되었습니다!
        <br/>메일에 전달된 링크를 통해 새로운 패스워드를 등록해 주세요!</p>
    </div>

    <input  class="form-control" name="email" ng-model="vm.email" placeholder="Email" required type="email"/>
    <div class="form-errors" data-ng-if="findpassword.email.$dirty">
      <div class="form-error" ng-show="findpassword.email.$error.maxlength">50자 이상을 넘을 수 없습니다.</div>
      <div class="form-error" ng-show="findpassword.email.$error.minlength">계정이 너무 짧습니다.</div>
      <div class="form-error" ng-show="findpassword.email.$error.required">필수 입력 항목입니다.</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-right">
      <button class="btn btn-success" data-ng-disabled="findpassword.$invalid" type="submit">완료</button>
    </div>
  </div>
</form>
