<form class="reg-page" name="login" ng-submit="startLeave()">
  <div class="reg-header">
    <h2>회원 탈퇴</h2>
  </div>
  <div class="input-group margin-bottom-20">
    <p>회원 탈퇴를 하시면, 자료를 되살릴 수 없습니다.</p>
    <span class="input-group-addon">
      <i class="fa fa-user"></i>
    </span>
    <input class="form-control" name="identifier" ng-model="leaveForm.identifier"
      placeholder="Username or Email" required type="text"/>
    <div class="form-errors" data-ng-if="login.identifier.$dirty">
      <div class="form-error" ng-show="login.identifier.$error.maxlength">50자 이상을 넘을 수
        없습니다.</div>
      <div class="form-error" ng-show="login.identifier.$error.minlength">계정이 너무
        짧습니다.</div>
      <div class="form-error" ng-show="login.identifier.$error.required">필수 입력
        항목입니다.</div>
    </div>
  </div>
  <div class="input-group margin-bottom-20">
    <span class="input-group-addon">
      <i class="fa fa-lock"></i>
    </span>
    <input class="form-control" name="password" ng-model="leaveForm.password"
      placeholder="Password" required type="password"/>
    <div class="form-errors" data-ng-if="login.password.$dirty">
      <div class="form-error" ng-show="login.password.$error.maxlength">50자 이상을 넘을 수
        없습니다.</div>
      <div class="form-error" ng-show="login.password.$error.minlength">비밀번호가 너무
        짧습니다.</div>
      <div class="form-error" ng-show="login.password.$error.required">필수 입력
        항목입니다.</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 checkbox">
      <!-- <label><input type="checkbox" ng-model="rememberme"> Stay signed in</label> -->
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-success" data-ng-disabled="login.$invalid"
        type="submit">탈퇴하기</button>
    </div>
  </div>
  <hr>
</form>
