<form class="reg-page" name="resetpassword" ng-submit="vm.submit()">
  <div class="reg-header">
    <h2>패스워드 변경</h2>
  </div>

  <label
    ng-class="{ 'has-error' : resetpassword.password.$invalid && resetpassword.password.$dirty,
    'valid-lr' : !resetpassword.confirmation.$error}">
    비밀번호
    <span class="color-red">*</span>
  </label>
  <div class="input-group">
    <span class="input-group-addon">
      <i class="fa fa-lock"></i>
    </span>
    <input class="form-control" compare-to="confirmPassword" name="password"
      ng-maxlength="25" ng-minlength="8" placeholder="비밀번호" required type="password"
      x-ng-model="vm.password">
  </div>
  <div class="form-errors" data-ng-if="resetpassword.password.$dirty">
    <div class="form-error" ng-show="resetpassword.password.$error.required">필수 입력
      항목입니다.</div>
    <div class="form-error" ng-show="resetpassword.password.$error.maxlength">25자 이상을 넘을 수
      없습니다.</div>
    <div class="form-error" ng-show="resetpassword.password.$error.minlength">비밀번호는 8자 이상으로
      입력해주세요</div>
    <div class="form-error" ng-if="resetpassword.confirmation.$dirty"
      ng-show="resetpassword.password.$modelValue !==
      resetpassword.confirmation.$modelValue">입력한
      비밀번호가 서로 다릅니다.</div>
  </div>
  <label
    ng-class="{ 'has-error' : resetpassword.confirmation.$invalid &&
    resetpassword.confirmation.$dirty}">
    비밀번호 확인
    <span class="color-red">*</span>
  </label>
  <div class="input-group">
    <span class="input-group-addon">
      <i class="fa fa-key"></i>
    </span>
    <input class="form-control" name="confirmation" ng-maxlength="25" ng-minlength="8"
      placeholder="비밀번호" required type="password" x-ng-model="confirmPassword">
  </div>


  <div class="row">
    <div class="col-md-6 checkbox">
      <!-- <label><input type="checkbox" ng-model="rememberme"> Stay signed in</label> -->
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-success pull-right" data-ng-disabled="resetpassword.$invalid"
        type="submit">패스워드 변경</button>
    </div>
  </div>
  <hr>
  <h4>패스워드가 기억나지 않으세요?</h4>
    <p>걱정마세요, <a class="color-green" href="#">여기</a>를 클릭하여 패스워드를 재설정 하실 수 있습니다.</p>
</form>
